@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.count {
  width: 60px;
  height: 56px;
  border: none;
  border-top: 1px solid #b24242;
  border-bottom: 1px solid #b24242;
  background-color: #fbe8e8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
  color: #b24242;
}
input:focus,
select:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
